@mixin media($bp) {
    @if map-has-key($breakpoints, $bp) {
        @media screen and (max-width: map-get($breakpoints, $bp)) {
            @content;
        }
    } @else {
        @media screen and (max-width: $bp) {
            @content;
        }
    }
}

// @warn "El párametro '#{$bp}' no ha sido declarado como un breakpoint válido";

@mixin alignFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin themeLang($display, $outlineColor) {

    div:not(:last-child) {
        margin-right: 1.2em;
     }

    .lang-flag {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        div:not(:last-child) {
           margin-right: .9em;
        }

        span img {
            max-width: 2.4em;
            aspect-ratio: 5/3;
            display: block;
            border-radius: .2em;
            @if($outlineColor) {
                outline: .13em solid $outlineColor;
            }
        }
    }

    @include media(medium-up) {
        display: $display;
    };
}

@mixin banner($img, $position) {
    background-image: url(#{$path}#{$img}.jpg);
    background-size: 100%;
    background-position: $position;
    background-repeat: no-repeat; 
}

@mixin cardAbout($imgWidth) {
    .card {
        display: flex;
        overflow: hidden;

        .picture {
            margin-right: .7em;
            
            img {
              max-width: $imgWidth;
              display: block;
              border: .1em solid var(--light-color);
            }
        }

        .description span {
            display: block;
        }
    }
}

@mixin layoutListAbout() {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    padding: 3em;
    gap: 2em;

    @include media(large) {
        grid-template-columns: 1fr 1fr;
    }
    @include media(600px) {
        padding: 2.5em;
        grid-template-columns: 1fr;
    }
}

