header {
    background-color: $blue-color;
    padding: 5em;
    // height: 15em;

    background-image: url(/images/bg.webp);
    // background-repeat: no-repeat;
    // background-size: 100%;
    // background-position: 50% 50%;
    
    h1 {
        color: $white-color;
        text-align: center;
        font-weight: bold;
    }
}


.main-container {
    display: grid;
    grid-template-columns: 2fr 8fr;
}




.container-info {
    background-color: $white-color;
    padding: 5em;

    h2 {
        margin-bottom: 2em;
    }

    p {
        line-height: 1.5em;
    }

    p:not(:last-child) {
        margin-bottom: 1em;
    }
}


