header {
    background-color: $blue-color;
    padding: 5em;
    
    h1 {
        color: $white-color;
        text-align: center;
        font-weight: bold;
    }
}


.main-container {
    display: flex;
}




.container-info {
    background-color: powderblue;
}


