*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a:link, a:visited, a:active {
    text-decoration: none;
    // color: var(--main-color);
}

body {
    width: 100%;
    color: $text-color;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;

    &::placeholder {
        color: palegreen;
    }

    &::-webkit-scrollbar {
        width: .5em;
        height: .5em; 
    }

    &::-webkit-scrollbar-thumb {
        border-radius: .5em;
        background-color: $yellow-color;
    }

    &::-webkit-scrollbar-track {
        background-color: $title-color;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}