@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
}

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}


@font-face {
    font-family: 'Shantell Sans', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
}


